.userinfo-container {
    display: flex;
    align-items: flex-start; /* 요소들을 상단에 정렬합니다. */
    background-color: #FCFCFD;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 120px;
}

.main-contents {
    margin-left: 60px;
}

.userinfo-content {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 20px;
    margin-top: 50px;
}

.userinfo-image {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.userinfo-nickname {
    font-family: 'Pretendard-Regular';
    font-size: 48px;
    font-weight: bolder;
}

.point-info {
    font-family: 'Pretendard-Regular';
    text-align: left; /* 텍스트를 오른쪽으로 정렬합니다 */
    margin-bottom: 20px;
}

.point {
    margin-right: 20px;
}

.infoInput {
    border: 1px solid #E6E8EC;
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.charge-btn {
    background-color: #47ABD9;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    cursor: pointer;
    border-radius: 90px;
}

.changeButton {
    display: inline-block;
    white-space: nowrap;
    background-color: #47ABD9; 
    color: #ffffff; 
    border: none; 
    padding: 8px 16px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    cursor: pointer;
    border-radius: 90px;
}

.modal-cancle {
    float: right;
}

.logoContainer {
    text-align: center;
}

.modal-logo {
    display: inline;
}

.info {
    color: #0056b3;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    margin-bottom: 10px;
    margin-top: 20px;
}

.infoLabel {
    color: #B1B5C3;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
    margin-bottom: 10px;
}

.inputWithButton-m {
    width: 108%;
}

.infoInput1 {
    border: 1px solid #E6E8EC;
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 65%;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* .infoInput2 {
    border: 1px solid #E6E8EC;
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 95%;
    margin-bottom: 10px;
    margin-right: 10px;
} */

.modal-logo {
    width: 150px; /* 원하는 크기로 조절합니다. */
    height: auto; /* 가로 사이즈에 맞추어 세로 사이즈를 자동 조절합니다. */
}

.charge-btn:hover, .changeButton:hover{
    filter: brightness(90%);
    transform: scale(1.03);
}