.wish-box {
    display: flex;
    flex-direction: column; /* 요소들을 세로 방향으로 배열 */
    gap: 36px;
    width: 256px;
    height: 256px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(177, 181, 196, 0.5);
    margin: 10px;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.wish-box:hover {
    transform: translateY(-10px); /* 호버 시 약간 위로 이동 */
    box-shadow: 0 0 15px rgba(177, 181, 196, 0.8); /* 그림자 증가 */
}

.wish-box-img {
    width: 240px;
    height: 220px;
    margin: 10px;
    border-radius: 30px;
    align-self: center; /* 가운데 정렬 */
}

/* 창 크기에 따라 나열 */
@media (min-width: 768px) { /* 화면 폭이 768px 이상인 경우 */
    .wish-box-content {
        flex-direction: row;
        align-items: center; /* 요소들을 세로 가운데 정렬 */
    }
}

.heart {
    width: 45px;
    padding-left: 3px;
    padding-top: 10px;
}

.heart-box {
    position: relative;
    z-index: 2;
    background: #FFFFFF;
}

.wish-box-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    overflow: hidden; /* 넘치는 부분 숨김 */
    white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 설정 */
    transition: transform 0.3s ease;
}

.wish-box:hover .wish-box-name {
    animation: textFlow 2s linear infinite;
}

@keyframes textFlow {
    0% {
        transform: translateX(0); /* 초기 위치 */
    }
    100% {
        transform: translateX(-50%); /* 100% 지점까지 우측으로 이동 */
    }
}

.wish-box-ic-liked {
    width: 17px;
    margin-top: 9px;
}

.wish-box-basic-info {
    display: flex; /* 요소를 가로로 배열 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 5px;
}

.wish-box-ic-liked {
    width: 17px; /* 원하는 너비로 조정 */
    height: auto; /* 세로 비율 유지 */
    margin-right: 5px; /* 오른쪽 여백 추가 */
}
